/* About CSS file
Name: Rushelle Phillips
Student Number: 300508161
Date: Oct 22th, 2022 */

<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">&copy; Copyright 2022. Rights Reserved By Rushelle Phillips.</h5>
    </div>
  </nav>