
body {
    min-height: 100vh; 
    background: #8ae77d; 
}

.title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: regular;
}


/* Buttons */
/* Add contacts */
.btn-add {
    color: #281374;
    background-color: #4e5869;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 20px 32px;
    margin-bottom: 30px;
}

.btn-add:hover,
.btn-add:focus {
    background-color: #719915;
    transform: scale(1.1);
}

/* Update contacts */
.btn-update {
    color: #059635;
    background-color: #21a9d6;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 8px 18px;
    margin-bottom: 30px;
    width:85px;
}

.btn-update:hover,
.btn-update:focus {
    background-color: #1381a5;
}

/* Delete contacts */
.btn-delete {
    color: #ffffff;
    background-color: #d27723;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 8px 18px;
    margin-bottom: 30px;
    width:85px;
}

.btn-delete:hover,
.btn-delete:focus {
    background-color: #c49055;
}