<!-- Name: Rushelle Phillips | Student Number: 300508161
Date: Oct 22th, 2022 -->

<!-- CSS -->
<link rel="stylesheet" href="./styles/about.css" />
<title>About</title>
<h1 class="title"> Weclome to the <%= title %> Page</h1> 
<!-- main container -->
    <div class="main-container">
        <!-- profile picture -->
        <div class="img-container">
            <img src="./content/images/k.jpg" class="img-thumbnail" alt="k">
            <p class="para-name">Rushelle Phillips</p>            
        </div>      

        <!-- self-description -->
        <div class="desc-container">
            <p>
                I am currently a student studying Health Informatics at Centennial College. I was born and raised in Jamaica.
                I like enjoy the outdoor settings. I am a beginner to programming languages such as C#, HTML, CSS, SQL, and JavaScript.
                             
            </p>
            <p>I have knowledge of SQL Database.</p>
         </div>
    </div>    
        
    <!-- resume + contact btn-->
    <div class="section-container">
        <h2 class="downl">Please Download my Resume: </h2> 
    
        <a href="./content/assets/RP-resume.pdf">
        <input class="btn-resume" type="Submit" value="Download" onclick="clickCResume()">
        </a>
        <input class="btn-contact" type="Submit" value="Contact Me" onclick="clickContact()">   
    </div>

    <!-- java script -->
    <script src="./scripts/app.js"></script>    
