<!-- Name: Rushelle Phillips| Student Number: 300508161
Date: Oct 22th, 2022 -->

<!-- CSS -->
<link rel="stylesheet" href="./styles/home.css" />
<title>Home</title>

<!-- main container -->
<div class="main-container">
    <!-- all content container -->
    <div class="content-container">
        <h6 class="title"><%= title%> AND WELCOME</h6>
            
        <!-- description container -->
        <div class="desc-container">
            <h2 class="description">My name is  Rushelle Phillips, 
                I am a future Software Developer with the focus on health care  
                website and software creation.
            </h2> 
        </div>  
        
        <!-- mission container -->
        <div class="mission-container">
            <h3 class="mission">Mission Statement</h3>
            <p class="para-mission">Time wasted can never be regain.</p>
            <p class="para-mission"> I believe traveling gives you a new perspective to everything in life. 
                You will see and get to know all cultures which includes there dishes, what the stand for a nation/country, 
                but most of you will know twaht make then who they .</p>
        </div>
            
        <!-- button container -->
        <div class="btn-container">  
        <h4 class="learn">Learn More</h4>    
            <input class="btn-about" type="submit" value="About Me" onclick="clickAbout()">
        </div>
    </div>
        
    <!-- logo -->
    <img class="img-p" src="./content/images/p.jpg" alt="p">
</div>

<!-- java script -->
<script src="./scripts/app.js"></script>  




