   <!-- CSS -->
   /* About CSS file
Name: Rushelle Phillips
Student Number: 300508161
Date: Oct 22th, 2022 */

   <link rel="stylesheet" href="./styles/projects.css" />
   <title> Future Projects</title>
   
   <h1 class="title"><%= title %></h1>
   
   <!-- main container -->
   <div class="main-container">
      <!-- section project 1 -->
      <div class="container text-center row align-items-start col">
         <h2 class="desc-title">A chatbot</h2>
         <p class="para"><span>A chatbot is a computer program that uses artificial intelligence (AI) and <br>
             natural language processing (NLP) to understand customer questions and <br>
             automate responses to them, simulating human conversation. <br>
            .</p>
         <a href="./content/images/project3.jpg">
            <img class="img-project3 img-1" src="./content/images/project3.jpg" alt="project3">  
         </a>
      </div>   
   
      <!-- section project 2 -->
      <div class="container text-center row align-items-start col">
            <h3 class="desc-title">Fingerprint-based ATM system</h3>
            <p class="para">This project is a desktop application that uses the fingerprint of users for authentication..</p>
            <a href="./content/images/finger.jpg">
               <img class="img-finger img-2" src="./content/images/finger.jpg" alt="Fingerprint-based ATM syste">
            </a>
         </div>
         
      <!-- section project 3 -->
      <div class="container text-center row align-items-start col">
         <h4 class="desc-title">React</h4>
         <p class="para">Voting is a simple process but is quite powerful in various real-world situations.React is primarily is used for building application UI. It is mainly used for developing single-page applications and mobile applications. </p>
         <a href="./content/images/voting.png">
            <img class="img-React img-3" src="./content/images/React.jpg" alt="React">
         </a>
      </div>   
   </div>
   
   
   