<!-- CSS -->
/* About CSS file
Name: Rushelle Phillips
Student Number: 300508161
Date: Oct 22th, 2022 */

<link rel="stylesheet" href="./styles/services.css" />
<title>Services</title>

<h1 class="title" >Welcome to the <%= title %> Page</h1>

<!-- list of services -->
<div class="container-services1">
    <img class="img-services" src="./content/images/e.jpg" alt="e">
    <ul class="list-style">        
        <li>Website Development</li>
        <li>Android app Development</li>
        <li>Software Database development</li>
        <li>Database Mining</li>
    </ul> 
</div>

<div class="container-services2">
    <ul class="list-style">        
        <li>High levelof customer service</li>
        <li>Enhance Flexibility</li>
        <li>Moral Boost</li>
        <li>Excellent organisational and time management skills</li>
        <li>Boost Productivity</li>
    </ul> 
    <img class="img-services" src="./content/images/Js.jpg" alt="Js">
</div>

